/*                                           
                           ,,              
`7MMM.     ,MMF'           db              
  MMMb    dPMM                             
  M YM   ,M MM   ,6"Yb.  `7MM  `7MMpMMMb.  
  M  Mb  M' MM  8)   MM    MM    MM    MM  
  M  YM.P'  MM   ,pm9MM    MM    MM    MM  
  M  `YM'   MM  8M   MM    MM    MM    MM  
.JML. `'  .JMML.`Moo9^Yo..JMML..JMML  JMML.
                                           
                                           */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: "Zefani";
  src: url(fonts/ZefaniStencil-Regular.otf) format('opentype');
}

html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	font-family: 'courier', sans-serif;	color: #fff;
	z-index: 2;
}
html, body{
	padding:0; margin:0; height:100%;
}

.home-bg{background: url(img/dithered-pool.png);}

.writing-bg{background: url(img/dithered-red-tree.png);}

.music-bg{background: url(img/dithered-fender.png);}

.photo-bg{background: url(img/dithered-windows-cloud.png);}

.anime-bg{background: url(img/dithered-bebop.png);}

.contact-bg{background: url(img/dithered-piano.png);}

.entropy-bg{background: url(img/dithered-entropy.png);}

.cb-bg{background: url(img/dithered-cowboy.png);}

ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
h1{
	margin: 20px 0;
}
h2{
	font-size: 28px;
	font-weight: bolder;
}
h1, h2, p{
	margin:  10px, 0;
}

p{
	font-size: 16px;
	font-family: 'courier';
}


/*                                                          
                                                          
`7MMF'                                                    
  MM                                                      
  MM  `7MMpMMMb.pMMMb.   ,6"Yb.  .P"Ybmmm .gP"Ya  ,pP"Ybd 
  MM    MM    MM    MM  8)   MM :MI  I8  ,M'   Yb 8I   `" 
  MM    MM    MM    MM   ,pm9MM  WmmmP"  8M"""""" `YMMMa. 
  MM    MM    MM    MM  8M   MM 8M       YM.    , L.   I8 
.JMML..JMML  JMML  JMML.`Moo9^Yo.YMMMMMb  `Mbmmd' M9mmmP' 
                                6'     dP                 
                                Ybmmmd'                   */


img .logo{
}
.logo{
	background: url(img/dithered-dark-marble.png);
	background-attachment: fixed;
  background-repeat: repeat;
	font-family: "Zefani";
  font-size: 3em;
  width: 100%;
  padding-top: 54px;
  padding-bottom: 12px;
  z-index: 0;
  justify-content: center;
  display: flex;
}

img{
}

/*                                                          
                              ,,                          
`7MN.   `7MF'                *MM                          
  MMN.    M                   MM                          
  M YMb   M  ,6"Yb.`7M'   `MF'MM,dMMb.   ,6"Yb.  `7Mb,od8 
  M  `MN. M 8)   MM  VA   ,V  MM    `Mb 8)   MM    MM' "' 
  M   `MM.M  ,pm9MM   VA ,V   MM     M8  ,pm9MM    MM     
  M     YMM 8M   MM    VVV    MM.   ,M9 8M   MM    MM     
.JML.    YM `Moo9^Yo.   W     P^YbmdP'  `Moo9^Yo..JMML.   
                                                          
                                                          */

/*HOME*/


.navbar {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	top: 0;
  overflow: hidden;
  background-color: #555; 
  z-index: 10;
  width: 100%;
}
.navbar a {
	padding: 10px;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.subnav {
	padding: 10px;
	justify-items: center;
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav-content {
	margin-top: 10px;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 13;
}
.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
}
.subnav:hover .subnav-content {
	position: fixed;
	top: 5;
  display: block;
}

/*                                                                  
                      ,,    ,,    ,,          ,,                  
`7MMF'   `7MF' mm     db  `7MM    db   mm     db                  
  MM       M   MM           MM         MM                         
  MM       M mmMMmm `7MM    MM  `7MM mmMMmm `7MM  .gP"Ya  ,pP"Ybd 
  MM       M   MM     MM    MM    MM   MM     MM ,M'   Yb 8I   `" 
  MM       M   MM     MM    MM    MM   MM     MM 8M"""""" `YMMMa. 
  YM.     ,M   MM     MM    MM    MM   MM     MM YM.    , L.   I8 
   `bmmmmd"'   `Mbmo.JMML..JMML..JMML. `Mbmo.JMML.`Mbmmd' M9mmmP' 
                                                                  
                                                                  */

.btn{
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-size: 16px;
	margin: 10px;
	font-family: 'courier', sans-serif;	color: #fff;
}

.btn:hover{
	background-color: purple;
}

.item{
	/*border: 3px solid magenta;*/
	justify-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1700px;
	align-self: center;
	background: rgb(0, 0, 0, .95);
	padding: 10px;
	position: relative;
	margin: 0 auto;
}

.showcase{
	max-width: 900px;
}

.contain-center{
	/*border: 3px solid blue;*/
	text-align: center;
	align-self: center;
	justify-items: center;
}

.gif-container{
	/*border: 3px solid lime;*/
	height: auto;
	display: flex;
	align-self: center;
	width: 320px;
	height: 240px;
}

.wall-container{
	/*border: 3px solid lime;*/
	height: auto;
	display: flex;
	align-self: center;
	width: 480px;
	height: 270px;
}

.poster-container{
	/*border: 3px solid lime;*/
	height: auto;
	display: flex;
	align-self: center;
	width: 270px;
	height: 400px;
}

.flex-container {
	/*border: 3px solid red;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-child {
	/*border: 3px solid yellow;*/
  flex-direction: row;
  flex: 1;
  padding: 10px;
}


@media (min-width: 600px){
		.columns{
			flex-direction: row;
		}
}

.divider{
	/*border: 3px solid white;*/
	text-align: center;
	align-self: center;
	justify-items: center;
	font-size: 30px;
	margin: 10px;
}
